@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.Payu.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantId_OverrideForStore, model => model.MerchantId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantId)
                        @Html.ValidationMessageFor(model => model.MerchantId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Key_OverrideForStore, model => model.Key, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Key)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Key)
                        @Html.ValidationMessageFor(model => model.Key)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantParam_OverrideForStore, model => model.MerchantParam, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantParam)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantParam)
                        @Html.ValidationMessageFor(model => model.MerchantParam)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PayUri_OverrideForStore, model => model.PayUri, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PayUri)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PayUri)
                        @Html.ValidationMessageFor(model => model.PayUri)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    

}
